# 4.6 Merging dataframes - part 2

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\pierr\Instacart Basket Analysis'

In [3]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# import 'products' data
df_prods = pd.read_csv(r'C:\Users\pierr\Instacart Basket Analysis\02 Data\Original Data\products.csv', index_col = False)

In [5]:
# checking shape of dataframe to see if it matches the shape when we exported it, and it does
df_ords_prods_combined.shape

(32434489, 11)

# Merge dataframe with prods data

In [6]:
# Check columns of df_ords_prods_combined
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [7]:
# Check shape of df_prods
df_prods.shape

(49693, 5)

In [8]:
# Check columns of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Drop existing merge column (dropped due to error in following code to merge)
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [10]:
# Using "Product_id" as key to merge both dataframes
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [11]:
df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [12]:
df_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
#checking merge shape
df_merged.shape

(32434212, 15)

In [14]:
#Export df_merged as pickle file due to size
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))